
@{
    ViewData["Title"] = "ÜrünO zellikleri";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<Eticaret.MvcWebUI.Models.UrunOzellik>

<section class="panel">

    <header class="panel-heading">
        Ürün Özellikleri
    </header>

    <div class="panel-body">
        <div class=" editable-table adv-table">
            <div class="clearfix">
                <div class="btn-group">
                    <a href="~/Admin/UrunOzellikEkle" class="btn btn-success">
                        Yeni Ürün Özelliği <i class="icon-plus"></i>
                    </a>
                </div>

            </div>
        </div>

        <div class="space15"></div>
        <table class="table table-striped table-hover table-bordered" id="editable-sample">

            <thead>
                <tr>
                    <th>Ürün Adı</th>
                    <th>Özellik Tip Adı</th>
                    <th>Ozellik Değer Adı</th>
                    <th>Güncelle</th>
                    <th>Sil</th>




                </tr>
            </thead>
            <tbody>
                @foreach (var Ozellik in Model)
                {
                <tr class="">
                    <td>
                        @if (Ozellik.UrunOzellikNavigation != null)
                        {
                            @Html.DisplayFor(modelItem => Ozellik.UrunOzellikNavigation.UrunAdi)
                        }
                    </td>
                    <td>
                        @if (Ozellik.OzellikTip != null)
                        {
                            @Html.DisplayFor(modelItem => Ozellik.OzellikTip.OzellikAdi)

                        }
                    </td>
                    <td>
                        @if (Ozellik.OzellikDeger != null)
                        {
                            @Html.DisplayFor(modelItem => Ozellik.OzellikDeger.OzellikDegerAdi)

                        }
                    </td>

                    



                    <td>
                        <a class="edit" href="#">
                            <i class="icon-pencil"></i>
                        </a>
                    </td>
                    <td>
                        @if (Ozellik.UrunOzellikNavigation != null && Ozellik.OzellikTip != null && Ozellik.OzellikDeger != null)
                        {

                            <a class="delete" href="@Url.Action("UrunOzellikSil", "Admin", new { urunId=Ozellik.UrunOzellikId,TipId=Ozellik.OzellikTipId,DegerId=Ozellik.OzellikDegerId})">

                                <i class="icon-trash"></i>
                            </a>

                        }
                    </td>


                    </tr>


                }


            </tbody>
        </table>
    </div>




</section>

